.layoutContainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    gap: 16px;
}

.mainContainer {
    flex-grow: 1;
}

.siderCart,
.sider {
    /*override css*/
    max-width: 256px !important;
    width: 256px !important;
    flex: 1 !important;
}

.siderCart {
    max-width: 300px !important;
    width: 300px !important;
    flex: 1 !important;
}
